{% extends 'AdminBundle::layout.html.twig' %}
{% block body %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cửa Hàng</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                {% for cuaHang in listCuaHang %}
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ cuaHang.name }} ({{ cuaHang.address }})
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="text-center">
                                <img src="{{ asset(cuaHang.image) }}" class="img-thumbnail"/>
                            </div><br/>
                            <p class="text-left">Địa chỉ: {{ cuaHang.address }}</p>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                        Showing 1 to 10 of 57 entries
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                <a href="#">Previous</a>
                            </li>
                            <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                <a href="#">1</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">2</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">3</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">4</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">5</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">6</a>
                            </li>
                            <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                <a href="#">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
{% endblock body %}
